<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>
    {% if page.title %}
      {{ page.title }} &middot; {{ site.title }}
    {% else %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% endif %}
  </title>

    <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
 <link rel="shortcut icon" href="/public/favicon.ico">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <!-- <link rel="stylesheet" href="/_bower_components/normalize-css/normalize.css"> -->
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/assets/js/vendor/modernizr.js"></script>
    <!-- endbuild -->

      <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  </head>
  <body class="theme-base-89yesler">
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>


